<?php

return [
    'host' => 'db',
    'base' => 'i',
    'user' => 'root',
    'pass' => 'secret',
    'opt' => [
        Pdo\Mysql::ATTR_INIT_COMMAND =>
        "SET sql_mode = REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY','')"
    ]
];
