<?php

return [
    'host' => 'db',
    'base' => 'ist',
    'user' => 'root',
    'pass' => 'secret',
    // php 8.2: \PDO::MYSQL_ATTR_INIT_COMMAND
    'opt' => [Pdo\Mysql::ATTR_INIT_COMMAND => "SET " . implode(', ', [
        "time_zone = 'Europe/Kyiv'",
        "sql_mode = REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY','')"
    ])]
];
