body {
    background-color: #161616;
    height: 100%;
    margin: 0;
    padding: 0;
    color: lightgray;
}

section {
    position: relative;
    width: 80vw;
    margin: 1em auto;
}

a {
    color: #777;
}

input,
button {
    background-color: #333;
    color: lightgray;
    border-color: #555;
}

.centered {
    text-align: center;
    margin: .3em 0;
}

.show_toggle {
    user-select: none;
}

.show_toggle input[type=checkbox] {
    display: none;
}

#back {
    position: absolute;
    top: -.5em;
    left: 1.5em;
}

#back svg {
    position: absolute;
    top: .1em;
    left: -1.2em;
}

#status {
    display: block;
    width: fit-content;
    max-width: 80vw;
    margin: 1em auto;
    padding: 1.5em 2em;
    text-align: center;
    border-radius: 1em;
}

#status h1 {
    margin: 0;
}

#status h1 .field {
    display: inline-block;
    word-spacing: -1em;
}

#status h1 .field span {
    font-size: .5em;
}

#status h1 .field .name {
    opacity: .7;
    vertical-align: middle;
    margin-right: .3em;
}

#showMore~.centered+.centered {
    margin-top: .3em;
}

#showMore:not(:checked)~.centered+.centered {
    display: none;
}

#dates {
    margin: 1em auto;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0 3em;
    max-width: 80vw;
}

#dates>a {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#dates>a:first-child {
    left: -2em;
}

#dates>a:last-child {
    right: -2em;
}

#dates>a svg {
    margin: 0;
    padding: 0;
}

#presets a {
    display: inline-block;
    padding: 3px 1.1em;
    margin: .5em;
    background-color: #333;
    color: lightgray;
    text-decoration: none;
    user-select: none;
    border-width: 2px;
    border-style: outset;
    border-color: #555;
    cursor: default;
}

#dates a:not([href]) {
    cursor: not-allowed;
    opacity: 0.6;
}

#dates input {
    display: inline-block;
    padding: 5px 1.5em;
    margin: .5em;
    max-width: 100%;
}

#dates input[type=submit] {
    display: none;
}

#dates span {
    margin: 0;
    padding: 0;
}

#chart {
    text-align: center;
}

#chart canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    display: block;
}

.chart {
    resize: vertical;
    overflow: auto;
    aspect-ratio: 10/3;
    width: 100%;
}


.empty {
    color: red;
    text-align: center;
    margin-top: 3em;
}

.empty+.empty {
    display: none;
}

#chart .min_max {
    display: inline-block;
    margin: .3em;
}

#chart .show_toggle> :checked~.min_max:before,
#chart .show_toggle> :not(:checked)~.min_max:before {
    color: white;
}

#chart .show_toggle> :checked~.min_max:before {
    content: '-';
}

#chart .show_toggle> :not(:checked)~.min_max:before {
    content: '+';
}

@media screen and (max-width: 1600px) {
    #chart .min_max {
        display: block;
    }
}

@media screen and (max-width: 980px) {
    section {
        width: 98vw;
        margin: .5em auto;
    }

    #status h1 .field {
        display: block;
    }

    #showMore~.centered+.centered {
        margin-top: .7em;
    }

    #dates {
        margin: .5em 3em;
    }

    #dates span {
        display: none;
    }

    #presets {
        margin: auto;
        padding: 0;
        text-align: center;
    }

    #chart .min_max {
        padding: 1em 0;
    }

    .chart {
        aspect-ratio: 5/3;
    }
}

@media screen and (max-width: 500px) {
    section {
        margin: auto;
    }

    #dates {
        margin: 0;
        padding: 0;
    }

    #dates input {
        padding: 10px 1.5em;
        margin: .3em;
    }

    #dates a {
        display: none;
    }

    #status {
        padding: 15px 10px;
    }
}
