body {
    background-color: #161616;
    height: 100%;
    margin: 0;
    padding: 0;
    color: lightgray;
    top: 0;
}

table {
    margin: 0 auto;
}

table,
th,
td {
    font-size: 1.3vw;
    border: 1.7px solid #646464;
    border-collapse: collapse;
}

th {
    font-weight: bolder;
}

th,
td {
    padding: 1em;
    text-align: center;
}

br {
    font-size: 3em;
}

button {
    font-weight: bolder;
    font-size: 1.3vw;
    width: 5em;
    padding: 1em;
    color: white;
    border: none;
    border-radius: 1em;
}

a {
    color: lightgray;
}
