body {
    background-color: #161616;
    height: 100%;
    margin: 0;
    padding: 0;
    color: lightgray;
    top: 0;
}

section {
    position: relative;
    width: 80vw;
    margin: 3em auto;
}

a {
    color: #777;
}

input,
button {
    background-color: #333;
    color: lightgray;
    border-color: #555;
}

center {
    margin: .3em 0;
}

#back {
    position: absolute;
    top: -1.7em;
    left: 0;
}

#back svg {
    position: absolute;
    top: .1em;
    left: -1.2em;
}

#current #status {
    width: fit-content;
    max-width: 80vw;
    margin: 1em auto;
    padding: 1.5em 2em;
    text-align: center;
    border-radius: 1em;
}

#current #status * {
    margin: 0;
}

#current #status {
    display: block;
    user-select: none;
}

#current #status h1 #showMore {
    display: none;
}

#current #status h1 #showMore~center+center {
    margin-top: .3em;
}

#current #status h1 #showMore:not(:checked)~center+center {
    display: none;
}

#current #status h1 .field {
    display: inline-block;
    display: table-cell;
    padding: 0 .2em;
    word-spacing: -1em;
}

#current #status h1 .field span {
    font-size: .5em;
}

#current #status h1 .field .name {
    opacity: .7;
    vertical-align: middle;
    margin-right: .3em;
}

#empty {
    color: red;
    text-align: center;
    margin-top: 3em;
}

#dates {
    margin: 1em auto;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0 3em;
    max-width: 80vw;
}

#dates * {
    margin: auto 1em;
    padding: 5px;
    line-height: 1;
}

#dates #presets {
    margin: 1em auto;
}

#dates a {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#dates a:first-child {
    left: -2em;
}

#dates a:last-child {
    right: -2em;
}

#dates a svg {
    margin: 0;
    padding: 0;
}

#dates input {
    display: inline-block;
    padding: 5px 1.5em;
    max-width: 100%;
}

#dates input[type=submit] {
    display: none;
}

#dates span {
    margin: 0;
    padding: 0;
}

#chart {
    text-align: center;
}

#chart canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    display: block;
}

.chart {
    resize: vertical;
    overflow: auto;
    aspect-ratio: 10/3;
    width: 100%;
}

#chart .min_max {
    display: inline-block;
    width: auto;
    margin: .3em;
}

@media screen and (max-width: 1600px) {
    #chart .min_max {
        display: block;
    }
}

@media screen and (max-width: 980px) {
    body {
        margin-top: 3em;
    }

    section {
        margin: .5em auto;
    }

    #current #status h1 .field {
        display: block;
    }

    #current #status h1 #showMore~center+center {
        margin-top: .7em;
    }

    #dates {
        margin: .5em 3em;
    }

    #dates * {
        margin: 1em auto;
    }

    #dates span {
        display: none;
    }

    #dates #presets {
        margin: auto;
        padding: 0;
        text-align: center;
    }

    #dates input {
        margin: .5em;
    }

    .chart {
        aspect-ratio: 5/3;
    }
}

@media screen and (max-width: 500px) {
    #dates {
        margin: .5em 1em;
        padding: .1em 3em;
    }

    #dates input {
        padding: 10px 1.5em;
        margin: .3em;
    }

    #dates a:first-child {
        left: 0;
    }

    #dates a:last-child {
        right: 0;
    }
}

@media screen and (max-width: 300px) {
    section {
        margin: auto;
    }

    #dates {
        margin: 0;
        padding: 0;
    }

    #dates a {
        display: none;
    }

    #current #status {
        padding: 15px 10px;
    }
}
